[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins.git
[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes.git
[submodule "Flex"]
	path = Flex
	url = https://github.com/alexandrevicenzi/Flex.git
